
<div class="row">
  <h2>Pool Name: <%= @pool.name %></h2>
  <hr />
  <div class="col-md-6">
  <% if @pool.questions? %>
    <h2>Props</h2>
    <div class="list-group">
      <% @pool.questions.except(@question).each do |question| %>
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><%= question.body %></h4>
          <% question.options.each do |option| %>
            <li><%= option.body %></li>
          <% end %>
          <% if @pool.accepting_questions? %>
            <div class="button-container mt-2 mb-2">
              <%= link_to "Edit", edit_question_path(question), class: "btn btn-outline-secondary btn-sm" %>
              <%= button_to "Delete", question, method: :delete, class: "btn btn-outline-danger btn-sm" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h2>Nothing</h2>
    <p>There are currently no questions, Come back later</p>
  <% end %>
  </div>

  <% if @pool.accepting_questions? %>
    <%= render partial: "shared/question_form", locals: { title: "Add a Prop" } %>
  <% end %>
</div>