<div class="col-md-6 offset-md-3">
  <h2>sign in</h2>
  <%= form_with url: sign_in_path do |f| %>
    <div class="mb-3">
      <%= f.label :email, "email", class: "form-label" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, "password", class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.submit "let's go!", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
