<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= link_to "< Back", @pool, class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "New Membership", new_pool_membership_path(@pool), class: "btn btn-outline-primary btn-sm" %>
    <table class="table">
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
      </tr>
      <% @pool.memberships.each do |membership| %>
        <tr>
          <td><%= membership.id %></td>
          <td><%= membership.role %></td>
          <td><%= membership.status %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>